{# Article detail page seen by readers and journalists. Shows the article's  #}
{# title, author, publisher, created date and content. The navigation adapts  #}
{# to the logged-in user's role.                                              #}
{% extends 'base.html' %}

{% block title %}Article Details{% endblock %}

{% block content %}
    <nav>
        {% if user.journalist %}
            {# Journalist navigation #}
            <a href="{% url 'news:journalist_home' %}">Home</a>
            <a href="{% url 'news:article_directory' %}">Article directory</a>
            <a href="{% url 'news:newsletter_directory' %}">Newsletter directory</a>
        {% elif user.reader %}
            {# Reader navigation #}
            <a href="{% url 'news:reader_home' %}">Home</a>
        {% endif %}
    </nav>

    <h2>{{ article.title }}</h2>
    <p>Author: {{ article.author }}</p>
    <p>Publisher: {{ article.publisher }}</p>
    <p>Created On: {{ article.created_date }}</p>
    <p>{{ article.content }}</p>
    
    
{% endblock %}