{# Create publisher page. Collects a publisher name and description, then posts to   #}
{# the register_publisher view. #}
{% extends 'base.html' %}

{% block title %}Register Publisher{% endblock %}

{% block content %}
    <h2>Register A Publisher</h2>

    {# New-publisher form #}
    <form method="POST" action="{% url 'news:register_publisher' %}">
        {% csrf_token %}

        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        {{ form.username.errors }}
        <br><br>

        <label for="{{ form.title.id_for_label }}">Publisher Name:</label>
        {{ form.title }}
        {{ form.title.errors }}
        <br><br>

        <label for="{{ form.description.id_for_label }}">Description:</label>
        {{ form.description }}
        {{ form.description.errors }}
        <br><br>

        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
        {{ form.password.errors }}
        <br><br>

        <label for="{{ form.password_confirm.id_for_label }}">Confirm Password:</label>
        {{ form.password_confirm }}
        {{ form.password_confirm.errors }}
        <br><br>

        <button type="submit">Register</button>
    </form>

    {% if form.non_field_errors %}
        <p style="color: red;">{{ form.non_field_errors }}</p>
    {% endif %}

    <p>Already have an account? <a href="{% url 'news:login' %}">Login here</a></p>
{% endblock %}